@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "inconsolata";
    src: url("./assets/fonts/inconsolata/Inconsolata-VariableFont_wdth,wght.ttf") format("truetype");
    font-weight: "400";
    font-style: "normal";
}

@layer base {
    html {
        @apply font-custom antialiased;
        scroll-behavior: smooth;
    }

    body {
        @apply min-h-screen flex flex-col bg-primary text-secondary text-xl;
    }

    h1 {
        @apply font-bold text-3xl;
    }

    h2 {
        @apply font-bold text-2xl;
    }

    a {
        @apply no-underline text-secondary;
    }

    p {
        @apply mb-4;
    }
}

@layer components {
}
