@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "inconsolata";
    src: url("./assets/fonts/inconsolata/Inconsolata-VariableFont_wdth,wght.ttf") format("truetype");
    font-weight: 400;
    font-style: "normal";
}

@layer base {
    /* Layer utile per definire gli stili primari del sito, come html, body, h1, ecc.. */
    html {
        @apply font-custom antialiased;
        scroll-behavior: smooth;
    }

    body {
        @apply min-h-screen flex flex-col bg-primary text-secondary text-xl;
        /* TODO: da vedere se utile dopo, questa variabile CSS personalizzata serve a dare un'altezza fissa all'header da utilizzare anche in altri file CSS.  */
        /* --header-padding-height: 1.5rem; */
    }

    h1 {
        @apply font-bold text-3xl;
    }

    h2 {
        @apply font-bold text-2xl;
    }

    a {
        @apply no-underline;
    }

    p {
        @apply mb-4;
    }
}

@layer components {
    /* Layer utile per definire classi personalizzate da riutilizzare nei componenti. */
}
